body {
    background-color: white;
}

#nav_links{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    

}
#nav_links li{
    list-style-type: none;
    padding-right: 45px;
  
     }

.imghebergement{
width: 246px;
height:124px ;
left: 0%;
right: 0%;
top: 0%;
bottom: 37.69%;
border: 5px solid #FFFFFF;
border-radius: 20px 20px 0px 0px;
}

.imghebpopulaires{
    weight: 137px;
    height: 144px;
left: 0px;
top: 0%;
bottom: 0%;
border: 5px solid #FFFFFF;
border-radius: 20px 0px 0px 20px;

}

.afficherplus{
    text-decoration: none !important;
;
}