                   /** HEADER **/
  
 

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 4rem;
}

nav {
  padding: 0;
}
nav ul {
  display: flex;
  margin: auto;
  list-style-type: none;
  padding: 0;
}

nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 10.1rem;
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

nav a:hover {
  border-top: 2px solid #0065FC;
  padding-top: 46px;
  color: #0065FC;
}
  

/** BODY **/
p, h1, h2, h3, h4{
  font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
}
body {
  
  max-width: 1330px;
  margin: 0 auto;
  height: auto; 
    background-color: white;
   
}

.titre-1{
  font-size: 1.375rem;
  font-weight: 700;
    margin-top: 80px;
}


/** BOUTON DE RECHERCHE **/

.bouton-rechercher{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #F2F2F2;
  width: 20.75rem;
  height: 3.063rem;
  border-radius: 20px;

}

.fa-location-dot{
  background: #f2f2f2;
  border-radius: 20% 0 0 20%;
  width: 3.125rem;
  height: 3.063rem;
  display: flex;
  justify-content: center;
  line-height: 50px;
}
.placeholder-rechercher input::placeholder{
  font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding-left: 5px;
  

}

.placeholder-rechercher input{
  border: hidden;

}

.placeholder-rechercher input:focus{
  outline: none;
}
.buttn-search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 45px;
  font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: white;
 background-color: #0065fc;
 border-radius: 0 20px 20px 0;
 width: 8.25rem;
 height: 3.063rem; 
}

.fa-magnifying-glass {
  display: inline;
  display: none;
}

.fa-info{
    background:white;
    border-radius:50%;
    width:1.5rem;
    height: 1.5rem;
    border:0.8px solid #d9d9d9; 
    display: flex;
    justify-content: center;
    line-height: 1.5;
    color: #0065fc;
    
    }
.info-500{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
    padding-top: 15px;

}
/** FILTRES **/

.filtres-titre{
  font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0px;
}
.flex-filtres{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 35px;
  }
.flexfiltres12 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.flexfiltres34 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

  .fa-money-bill-wave{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  border-radius: 25px;
   width: 12rem;
    height: 3.063rem;
    border:2.5px solid #d9d9d9; 
    line-height: 50px;
    color: #0065fc;
}
.fa-money-bill-wave:hover{
  background-color: #DEEBFF;
}
.fa-person{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background:white;
    border-radius: 25px;
    width: 11rem;
    height: 3.063rem;
    border:2.5px solid #d9d9d9; 
    line-height: 50px;
    color: #0065fc;
}
.fa-person:hover{
  background-color: #DEEBFF;
}
.fa-heart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background:white;
    border-radius: 25px;
    width: 12rem;
    height: 3.063rem;
    border:2.5px solid #d9d9d9; 
    line-height: 50px;
    color: #0065fc;
}
.fa-heart:hover{
  background-color: #DEEBFF;
}
.fa-dog{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background:white;
   border-radius: 25px;
   width: 14rem;
    height: 3.063rem;
    border: 2.5px solid #d9d9d9; 
    line-height: 50px;
    color: #0065fc;
}
.fa-dog:hover{
  background-color: #DEEBFF;
}
.nom-filtre{
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
  display: flex;
  padding-left: 10px;
  color: black;
}
/** hébergements marseille **/


  
.imghebergement{
width: 99%;
height: 6.875rem ;

bottom: 37.69%;
border: 2px solid #FFFFFF;
border-radius: 20px 20px 0px 0px;
object-fit :cover;

}


.imghebpopulaires{
  display: flex;
  flex-direction: column;
  justify-content: center;
width: 8.563rem;
height: 8.438rem;
border-left: 5px solid #FFFFFF;
border-top-width: 2px;
border-bottom-width: 2px;
border-radius: 20px 0px 0px 20px;
object-fit: cover;

}



.afficher-plus{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none !important;
    padding-left: 40px;
    
}



.hebergement-marseille {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-between;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 35px;
gap: 20px;

 }
 .hebergement-marseille2 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

     }

 .background-hebergement {
    background-color: #F2F2F2;
    width: 100%;
    border-radius:20px;
    min-width: 870px;
 }

 .background-hebergement2 {
    margin: 0;
    background-color: #F2F2F2;
    width: 100%;
    border-radius:20px;
    min-width: 400px;
    
  }

 .main-aside-flex{
    display: flex;
    flex-direction: row;
    gap: 25px;
 }

 .aside-flex {
  display: flex;
  flex-direction: column;
 }
 
 

 #title-hebergement{
    padding-left: 35px;
    padding-top: 10px;
    color: black;
    font-size: 22px;
 }

 .nom-hotel{
 margin-left: 5px;
margin-top: 3px;
margin-bottom: 10px;
width: 90%;
font-size: 16px;
color: black;  
line-height: 18px;
  
 }
 .liens-hotels{
  text-decoration: none;
  color: black;
 }
 .liens-hotels2{
  text-decoration: none;
  color: black;
 }

 .p-hebergement{
  margin-left: 5px;
    margin-top: 0px;
    width: 90%;
    font-size: 14px;
    margin-bottom: 10px;
    
 }
 
 .p-hebergement-2{
    margin-top: 0;
    font-size: 14px;
 }
 
 .fa-star{
    color: #0065fc;
    font-size: 12px;
    
    
 }

 .grey-star{
    color: #DADADE;
    
 }
 .stars-size{
    height: 12px;
    width: 12px;
 }

 .align-stars{
display: flex;
flex-direction: row;
align-items: flex-start;
margin-left: 5px;

width: 90%;
 }
 .align-stars2{
    display: flex;
    flex-direction: row;
    margin-top : 25px

     }
     .align-stars3{
      display: flex;
      flex-direction: row;
      margin-top : 40px
  
       }
 .title-populaires{
    
    padding-top: 10px;
    padding-left: 40px;
    color: black;
    font-size: 22px;
}

 .content-box{
    
    width  : 250px;
    min-width: 187px;
    height : 12.5rem;
    background : white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
  }
  .populaire-1{
    padding-bottom: 30px;
  }
  .populaire-2{
    padding-bottom: 30px;
  }
  .populaire-3{
    padding-bottom: 30px;
  }


  .content-box-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    width  : 21.438rem;
    height : 9.313rem;
    background : white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
  }

  .alignement-content-aside {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 0px;

  }

  .nom-hotel-populaires{
    margin-top: 2px;
    font-size: 16px;
  }
 
  .icon-grow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
  }
  .fa-arrow-trend-up{
    color: #0065fc;
  }


/** ACTIVITE MARSEILLE **/

.flex-activite{
   
    display: flex;
    flex-direction: row;
}

.card{
  display: flex;
  flex-direction: column;
  width: 18.875rem;

  height: 27.782rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.contain-img{
  margin-bottom: 20px;
  width: 18.875rem;
  height: 24.375rem;
  object-fit: cover;
  border-radius: 20px 20px 0 0 ;
}

.title-activite{
  font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
  line-height: 18.78px;
  font-size: 1rem;
  padding-top: 10px;
padding-left: 20px; 
font-weight: 700;

}

.flex-activite{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.contain-img2{
  margin-bottom: 20px;
  width: 18.875rem;
  height: 24.375rem;
  object-fit: cover;
  border-radius: 20px 20px 0 0 ;
}


/** FOOTER **/
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  background-color: #F2F2F2;
}
.title-footer{
  display: flex;
  flex-direction: row;
}

.list-footer{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: black;
  display: block;
    list-style-type: none;
    text-decoration: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 190px;
  height: 14.063rem;
  background-color: #F2F2F2;
  line-height: 10px;
}

.title-footer{
  font-weight: 700;
  margin-left: 40px;
}

.title-footer2{
  font-size: 1em;
 font-weight: 700;
  margin-top: 0px;
  margin-left: 40px;
}

.blocs-footer{
  padding-left: 0px;
}

.footer-links{
list-style-type: none;
  }
li {
  font-size: .9em;
}  
  .title-footer{
    font-size: 1em;
      color: black;
  }
  
  
  .links-footer{
  display: flex;
  flex-direction: row;
  padding-left: 5em;
      
  } 

  /** MEDIA QUERIES TAB **/

  @media screen and (max-width: 992px) {
  html, body {
   margin: 5%;
}



    
    .conteneur-nav{
      display:flex;
      flex-direction: row;
      
    }
  
    .titre-1{
      font-size: 1.125rem;
      font-weight: bold;
    }
    .p-zones{
      font-size: 0.938rem;
    }
    
    .bouton-rechercher{
      width: 30%;
      height: 2.25rem;
      border-radius: 20px;
    }

    .texterechercher {
      font-size: 13px;
      margin-left: 2px;
      margin-right: 2px;
    }
    .fa-location-dot{
      width: 2.688rem;
      height: 2.375rem;
      line-height: 40px;
      font-size: 0.75rem;
    }
    
    .placeholder-rechercher input::placeholder{
      font-size: 0.875rem;
      padding-left: 5px;
      
    }
    
    
    .buttn-search {
     border-radius:  0 14px 14px 0;
      line-height: 37px;
      font-size: 0.813rem;
      font-weight: 600;
     width: 8.25rem;
     height: 38px; 
    
    }
   
    .flex-filtres {
    margin-top: 20px;
    
    }
    .nom-filtre {
      font-size: 0.75rem ;
    }
    .fa-money-bill-wave {
      width: 15vw;
      height: 3.125rem;
    }
    .fa-person {
      width: 15vw;
      height: 3.125rem;
    }
    .fa-heart {
      width: 16vw;
      height: 3.125rem;
    }
    .fa-dog {
      width: 20vw;
      height: 3.125rem;
    }
    .liens-hotels2 {
      font-size: .75rem;
    }
    .p-hebergement-2 {
      font-size: .65rem;
    }

    .info-500 {
      margin: 0 auto;
      width: 100%;
    }
    

    .background-hebergement2 {
      margin: 0 auto;
      width: 100%;
      min-width: 742px;
      
   }
   
   .background-hebergement {
    margin: 0 auto;
    width: 100%;
    min-width: 742px;
   }
  
   .main-aside-flex{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      
   }
  
   .aside-flex {
    display: flex;
    flex-direction: row;
  justify-content: center;
     
   }
   
.content-box {
  width: 30%;
  min-width: none;
  
}

.hebergement-marseille {
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  gap: 20px;
}
  .imghebergement {
    width: 100%;
  }
 
   .imghebpopulaires{
    width: 5em;
    height: 7.5rem;
    border: 3px solid #FFFFFF; 
   }
 .content-box-2 {

  margin: 0 auto;
  width: 210px;
  height: 8rem;
}

.aside-flex {
  justify-content: space-between;
  gap: 15px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 20px;
}
.title-populaires {
  font-size: 1rem;
}
.icon-grow {
  justify-content: space-between;
}
.nom-hotel-populaires {
  font-size: 15px;
 }
#ancrage2 { 
  width: 100%;
  margin: 0 auto;
  min-width: 742px;
}
 .titre-activite {
  margin-top: 50px;
  font-size: 1rem;
  
 }
.flex-activite {
  
  gap: 3%;
  justify-content: center;
}
 .card { 
height : 20%;

 }

 .contain-img {
  width: 100%;
 
  height: 13.688rem;
  
 }

 .contain-img2 {
  width: 100%;
  height: 13.688rem;
  
 }

 .title-activite {
  font-size:  clamp(7px, 0.65rem,1rem);
  margin-right: 2%;
  
  
 }
footer {
  
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  
  
}
 .flex-footer{
    width: 100%;
    gap: 20px;
 }
.title-footer{
  font-size: .8em;
  
}
.title-footer2{
  font-size: .8em;
}
     }

     @media screen and (max-width: 768px) {

      html, body {
        margin: 0 ;
        max-width: none;
     }
      
      
      
      header img {
        padding-left: 3rem;
      }
      header {
        display: block;
        flex-direction: column;
        margin: 0 auto;
      }
      
       header img {
       margin-left: 35vw;
       margin-top: 5vh;
      }
      
      nav,
      nav ul,
      nav a {
          width: 100%;
      }
      
      nav ul > * {
          flex: 1 1 0;
      }
      
      nav a {
          text-align: center;
          padding: 20px 0;
          border-bottom: 3.3px solid #F2F2F2;
      }
      
      nav a:hover {
          border-top: initial;
          padding-top: 20px;
          border-color: #0065FC;
      }
      
      
      
      .titre-1{
        margin-left: 5%;
        font-size: 2rem;
        width: 100%;
        
      }
      .p-zones{
        font-size: 3rem;
        margin-left: 5%;
        margin-bottom: 20px;
      }
      
      .bouton-rechercher{
        margin: auto;
        width: 20rem;
        height: 3.063rem;
        border-radius: 20px;
      }
      
      
      
      .texterechercher {
        display: none;
      }
      
      .fa-magnifying-glass {
        display: inline;
        font-size: 1.25rem;
        line-height: 50px;
        
      }
      
      
      .fa-location-dot{
      height: 49px;
        line-height: 47px;
        font-size: 0.938rem;
      }
      
      .placeholder-rechercher input::placeholder{
        font-size: 0.875rem;
        padding-left: 5px;
        
      }
      
      
      .buttn-search {
       border-radius:  0 14px 14px 0;
        line-height: 47px;
        font-size: 0.813rem;
        font-weight: 600;
       width: 20rem;
       height: 3.063rem; 
      
      }
      
      .filtres-titre{
        margin-top: 20px;
      
      }
      .flex-filtres {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
          flex-wrap: wrap; 
          }
     
        
    
      
    
      .title-hebergement {
        padding-left: 100px;
      }
      
      .nom-filtre {
        font-size: 0.75rem ;
      }
      .fa-money-bill-wave {
        width: 150px;
        height: 3.125rem;
      }
      .fa-person {
        width: 150px;
        height: 3.125rem;
      }
      .fa-heart {
        width: 150px;
        height: 3.125rem;
      }
      .fa-dog {
        width: 150px;
        height: 3.125rem;
      }
      
      .p-zones{
        font-size: 0.938rem;
      }
      
      .background-hebergement2 {
        
        width: 100%;
        min-width: 250px;
        height: 40.625rem;
        border-radius: 0;
      }
      .aside-flex {
        flex-direction: column;
        margin-top: 0;
      }
      .content-box-2 {
        margin: 0 auto;
        width: 70vw;
        
        max-width: 450px;
        height: 9.688rem; 
      }
      .imghebpopulaires{
        width: 8.563rem;
        height: 9rem;
       }
       
       
      .main-aside-flex {
        margin: 0;
        flex-direction: column-reverse;
        align-items: center;
       
      }
      .icon-grow {
        justify-content:space-between;
        margin-right: 120px;
      }
      
      .hebergement-marseille  {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;
      }
      
      .background-hebergement {
        width: 100%;
        min-width: 300px;
        height: 98.75rem;
        border-radius: 0;
        background-color: white;
      }
      .content-box {
        
        width: 75vw;
        
        max-width: 430px;
        height: 13.438rem;
      }
      
      .imghebergement {
        
        height: 7.5rem;
      }
      
      
      .flex-activite {
        flex-direction: column;
       align-items: center;
      height : 56.25rem;
        
      }
      .titre-activite {
        margin-left: 100px;
      }
      #ancrage2 {
        min-width: 300px;
      }
      .card {
        width: 70vw;
        
        height: 12.438rem;
      }
      
      .contain-img {
        width: 100%;
        height: 9.063rem;
        object-fit: cover;
        object-position: center;
      }
      
      .contain-img2 {
        width: 100%;
        height: 9.063rem;
        object-fit: cover;
      
      }
      
      .title-activite {
        font-size: 0.938rem;
        font-weight: bold;
      }
      
      .flex-footer {
        
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        height: 31.25rem;
        min-width: 300px;
      }
      
      }
      .footerbackground{
      
        height: 100%;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        
        
        }

     }      